/* Imported font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
/*Body styles*/
/*cards*/
/*buttons*/
 #buyBtn{
     background-color: #a68ed4;
     color: white;
     font-family: 'Maven Pro', sans-serif;
     border: 2px #7f3fbb;
     width: 60%;
     font-size: 18px;
}
 #loanBtn, #repayLoanBtn, #workPerSecondBtn{
     background-color: #b4f7ed;
     border: 1px solid #a2ded5;
     width: 80%;
}
 #bankBtn{
     border: 1px solid #ffade2;
     background-color:#ffc1e9;
}
 #bankBtn:hover{
     background-color:#f9f9e1;
     border: 1px solid #ffc1e9;
}
 #workBtn{
     border: 1px solid #ffcdcd;
     background-color: #ffe1e1;
}
 #bankBtn, #workBtn{
     width:48.5%;
}
 .workBankBtns{
     width:80%;
     margin-left: 10%;
     margin-bottom: 2%;
}
/*footer*/
 .body{
     background-color:#ffe2de;
     font-family: 'Maven Pro', sans-serif;
}
 .container{
     width:80%;
     margin-left: 10%;
}
/*the logo*/
 .logoImg{
     margin-top: 1.5%;
     margin-bottom:1.5%;
     width: 12%;
}
 .laptopContainer{
     width: 80%;
     margin-left: 10%;
}
 #card{
     background-color: #fcfcf0;
     border-radius:10px;
     box-shadow: 5px 10px 7px #FFCCC5;
     border: none;
}
 .card-title{
     font-family: 'Maven Pro', sans-serif;
     text-transform: uppercase;
}
 footer{
     width:100%;
     margin-left: 0%;
}
 .footer {
     margin-top: 2%;
     margin-bottom: 2%;
     position:static;
     left: 0;
     bottom: 0;
     width: 100%;
     color: black;
     text-align: center;
}
 #selectLaptop{
     background-color: #ffe1e1;
     border: 0.3px solid #ffc1e9;
     width: 80%;
     margin-left:10%;
     margin-top: 1%;
     height:15%;
     border-radius:5px;
     padding-left: 8%;
}
 .features{
     margin-top: 4%;
     margin-bottom: 5%;
}
 .features p{
     margin-bottom: 0.2%;
     font-size: 16px;
}
 li::marker {
     color: #ffc1e9;
}
 .col p{
     font-size: 16px;
}
 hr {
     width: 80%;
     height: 10px;
     border: 0 none;
     margin-right: auto;
     margin-left: auto;
     margin-top: 10px;
     margin-bottom:10px;
     background-color: #ffc1e9;
}
 .cardContent{
     width:80%;
     margin-left: 10%;
}
 #laptopPrice{
     font-size: 22px;
}
 #personName, #titleText{
     font-size: 20px;
}
 #laptopName{
     font-size: 20px;
}
 .showLaptopDetails{
     margin-top: 2.5%;
}
 #priceSection, #infoSection{
     align-self: center;
}
 #laptopImage{
     width:60%;
}

#extraContent{
    margin-top: 2%;
}

#saleBadge{
    font-size: 16px;
    visibility: hidden;
}